.formparent {
  display: grid;
  place-items: center;
  margin: 5rem;
}
.form {
  padding: 1rem;
  width: 35rem;
  border: 2px solid black;
  background-color: #f8f9fa;
  border-radius: 2%;
}
.form h3 {
  margin: 1rem;
  text-align: center;
}
#formfooterbutton {
  margin-left: 13.5rem;
}
#formfooterp {
  margin-left: 22rem;
}
.LoggedInUser{
  height: 100vh;
}